.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Full width */
  height: 600px;
  overflow: auto; /* Enable scroll if needed */
  background-color: #ffffff; /* Fallback color */
  padding: 20px;
  border-radius: 10px;
}


.gallery-modal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.gallery-modal figure{
  width: 100%;
  position: relative;
}

.gallery-modal figure img{
  width: 100%;
}

.modal .btnDeletePhoto{
  border: none;
  background-color:black;
  position: absolute;
  top:5px;
  right:4px;
  z-index: 3;
  } 
.modal-one{
display: flex;
flex-direction: column;
}

.gallery-modal i{
font-size: 15px;
color: white;
margin:4px 0px 4px 0px;

}
.overlay {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.402); /* Black with opacity */
	z-index: 1; /* Behind the modal */
  }
  
.modal input{

border: none;
color: rgb(255, 255, 255);
position: fixed;
right: 40px;
left: 40px;
bottom: 10px;
padding: 7px;


}


.modal h2{
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight:lighter;
  padding-bottom: 10px;
}

.modal .gallery{
display: grid;
flex-wrap: wrap;
width: 420px;
grid-template-columns: (5, 1fr);
grid-template-rows: (3, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
padding-bottom: 46px;
width: 420px;                        
}

.modal .gallery > figure{
	position: relative;
}

.modal .gallery img {
	display: flex;
	flex-wrap: wrap;
	width: 76.86px;
	height: auto;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*MODAL TWO*/

.modal-two{
  display: none;
  
  }
.btn-add{
background-color: inherit;
border: none;
border-radius: 5px;
background-color:#1D6154; ;
color:white;
}
.modal-two h3{
text-align: center;
font-size: 18px;
color: rgb(0, 0, 0);
font-weight:lighter;
padding-bottom: 10px;
  }
  
  
  
  
  .btn-back{
  border: none;
  background-color: inherit;
  }

  .window-add{
  padding: 50px;
  border-radius: 5px;
  background-color:#E8F1F6;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  }


  .window-add i {
  color:#CBD6DC;
  font-size: 60px;
  text-align: center;
  }
  .btn-add{
  margin:10px 100px 10px 100px;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 50px;
  background-color:#CBD6DC;
  color:#306685;
  font-size: 15px;
  }

  .window-add p {
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  }

  